.background {
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: blue;
    height: 100%;
    width: 100%;

    /* z-index: 0; layering order. higher numbers go in front. the mouse cannot interact with the canvas if it's -1 tho*/
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}


.menu {
    position: relative;
    z-index: 2;
}

.content {
    position: relative; /* unfortunately z-index doesn't work with the default position flavour "static" so we have relative here :) */
    background-color: white;
    padding: 40px 20px 40px 20px;
    margin: 0 0 10vh 0;

    max-height: 30vh;
    width: 90vh;
    overflow: auto;

    z-index: 1;
}