@import url(https://use.typekit.net/non1ufr.css); /* FONT FAMILY "Lores".
https://fonts.adobe.com/fonts/lo-res */


:root {
    --white: #F2F2F2;
    --light-grey: #D1D1D1;
    --gold: #F29829;
    --orange: #BF3C1F;
    --black: #1D2126;
    --dark-dark-blue: #2D3743;
    --dark-blue: #4B5870;
    --med-blue: #566D8C;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: var(--med-blue);
    height: 100vh;
    width: 100vw;

    /* z-index: 0; layering order. higher numbers go in front. the mouse cannot interact with the canvas if it's -1 tho*/
}
.foreground {
    position: absolute;
    top: 71vh;
    left: 57vw;
    z-index: 4;

    height: 100px;
    width: 100px;

    outline: 0px red solid;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;

  overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    place-items: center;

    margin: 0 0 5vh 0;

}
.content-wrapper {
    display: flex;
    flex-direction: row;

    font-family: "lores-12";
    /* font-weight: bold; */
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 24px;
}
.menu-wrapper {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 0.75vw 15vh 0;
    padding: 0 5px 0 5px;
    
    background-color: var(--dark-blue);
    color: var(--light-grey);

    min-width: 5vw;
    
    z-index: 1;
}
.menu-item {
    outline: 0px red solid;

    text-align: right;
}
.menu-item:hover {
    color: var(--white);
}
.content {
    position: relative; /* unfortunately z-index doesn't work with the default position flavour "static" so we have relative here :) */
    padding: 40px 20px 40px 20px;
    margin: 5vh 0 5vh 0;
    
    background-color: var(--dark-dark-blue);
    color: var(--white);

    text-align: justify;

    height: 30vh;
    width: 90vh;
    overflow: auto;

    z-index: 2;
}
.dialogue-box-wrapper {
    position: relative;
    display: flex;
    place-items: center;

    padding: 0px 10px 0 30px;

    background-color: var(--black);
    color: var(--white);

    width: 30vw;
    height: 10vh;
    
    z-index: 1;
}
.dialogue-text{
    display: flex;
    margin: auto;

    font-family: "lores-9-plus-wide";
    /* font-weight: bold; */
}


/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gold);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--orange); 
  }